.main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  z-index: 2;
  height: 100%;

  &__top {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-right: 185px;
  }
}
.errors {
  padding: 10px 0px;
  color: white;
  text-shadow: 1px 1px 3px #000;
  z-index: 1;
}

@media (max-width: 1024px) {
  .main {
    justify-content: flex-start;
    &__top {
      margin-right: 0px;
      justify-content: center;
      align-items: center;
    }
  }
}
