.focus {
  font-size: 20px;
  margin-bottom: 20px;
  text-align: center;
  text-shadow: 0px 0px 5px #000;

  &__text {
    text-align: center;
    background-color: transparent;
    border: 0px;
    border-bottom: 1px solid #fff3;
    outline: none;
    color: #fff;
    font-size: 18px;
    width: 98%;
    margin-top: 10px;

    &::placeholder {
      color: #fff;
    }

    &:focus::-webkit-input-placeholder {
      color: transparent;
    }

    &:focus::-moz-placeholder {
      color: transparent;
    }
  }
}
