.quote {
  border-radius: 0.5em;
  margin: 20px 10px 0px;
  width: 90%;
  min-height: 130px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  & figcaption,
  & blockquote {
    margin: 1em;
    text-align: center;
  }

  & figcaption {
    text-align: right;
  }
}
